// Import any global ../variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";
@import "../../variables/fonts.scss";

.dateRangePicker {
  &.mouseMode :focus { outline: none; }

  .commonRangeList {
    width: 160px;
    padding: 12px 8px;
  }
  .commonRangeItem {
    padding: 4px 12px;
    cursor: pointer;
  }
  .commonRangeItem:hover {
    background-color: $gray200;
  }
 
  :global {
    .Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: $blueLight !important;
      color: $blueDark;
    }
    .Selectable .DayPicker-Day {
      border-radius: 0 !important;
    }
    .Selectable .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
      background-color: $gray100 !important;
    }
    .Selectable .DayPicker-Day--today:not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
      color: $red;
    }
    .Selectable .DayPicker-Day--start:not(.DayPicker-Day--outside) {
      border-top-left-radius: $borderRadiusBase !important;
      border-bottom-left-radius: $borderRadiusBase !important;
      background-color: $blue !important;
    }
    .Selectable .DayPicker-Day--end:not(.DayPicker-Day--outside) {
      border-top-right-radius: $borderRadiusBase !important;
      border-bottom-right-radius: $borderRadiusBase !important;
      background-color: $blue !important;
    }
  }
}