// Import any global ../variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";
@import "../../variables/fonts.scss";

.datePicker {
  &.mouseMode :focus { outline: none; }

  :global {
    .Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: $blue !important;
      color: $white;
    }
    .Selectable .DayPicker-Day {
      border-radius: $borderRadiusBase !important;
    }
    .Selectable .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
      background-color: $gray100 !important;
    }
    .Selectable .DayPicker-Day--today:not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
      color: $red;
    }
  }
}

.datePickerIcon {
  transform: translate(0px, 2px);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}
.datePickerIconDisabled {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
.datePickerIconLeft {
  margin-right: 14px;
}
.datePickerIconRight {
  margin-left: 14px;
}
