// Import any global ../variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";
@import "../../variables/fonts.scss";

.datePicker {
  &.mouseMode :focus { outline: none; }

  :global {
    .DayPicker-Caption {
      color: $midnightOpaque80;
    }
    .DayPicker-Weekday {
      color: $midnightOpaque40;
    }
    .DayPicker-Day {
      border-radius: $borderRadiusBase !important;
      font-weight: 500 !important;
      color: $midnightOpaque80;
    }
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
      background-color: $gray100 !important;
    }
    .DayPicker-Day--disabled {
      color: $midnightOpaque20;
    }
    .DayPicker-Day--today {
      font-weight: bold !important;
      color: $blue;
    }
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: $blue !important;
      color: $white;
    }
  }
}

.datePickerIcon {
  height: 20px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}
.datePickerIconDisabled {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
.datePickerIconLeft {
  margin-right: 14px;
}
.datePickerIconRight {
  margin-left: 14px;
}
