$cdnPath: "https://densityco.github.io/assets";

@font-face {
  font-family: 'Density-Icons';
  src:  url('#{$cdnPath}/icons/icon-font/fonts/Density-Icons.eot?mphane');
  src:  url('#{$cdnPath}/icons/icon-font/fonts/Density-Icons.eot?mphane#iefix') format('embedded-opentype'),
    url('#{$cdnPath}/icons/icon-font/fonts/Density-Icons.ttf?mphane') format('truetype'),
    url('#{$cdnPath}/icons/icon-font/fonts/Density-Icons.woff?mphane') format('woff'),
    url('#{$cdnPath}/icons/icon-font/fonts/Density-Icons.svg?mphane#Density-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Density-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate360:before {
  content: "\e900";
}
.accuracyTarget:before {
  content: "\e901";
}
.airplay:before {
  content: "\e902";
}
.alarm:before {
  content: "\e903";
}
.alarmAdd:before {
  content: "\e904";
}
.alarmOff:before {
  content: "\e905";
}
.alarmOn:before {
  content: "\e906";
}
.alarmSnooze:before {
  content: "\e907";
}
.alertAddBell:before {
  content: "\e908";
}
.alertBell:before {
  content: "\e909";
}
.alignCenter:before {
  content: "\e90a";
}
.alignJustify:before {
  content: "\e90b";
}
.alignLeft:before {
  content: "\e90c";
}
.alignRight:before {
  content: "\e90d";
}
.announcement:before {
  content: "\e90e";
}
.arrowDown:before {
  content: "\e90f";
}
.arrowDownLeft:before {
  content: "\e910";
}
.arrowDownRight:before {
  content: "\e911";
}
.arrowLeftBack:before {
  content: "\e912";
}
.arrowRightForward:before {
  content: "\e913";
}
.arrowUp:before {
  content: "\e914";
}
.arrowUpLeft:before {
  content: "\e915";
}
.arrowUpRight:before {
  content: "\e916";
}
.baby:before {
  content: "\e917";
}
.babyChangingMotherMaternity:before {
  content: "\e918";
}
.babyCrawling:before {
  content: "\e919";
}
.back1:before {
  content: "\e91a";
}
.back1Alt:before {
  content: "\e91b";
}
.back5:before {
  content: "\e91c";
}
.back5Alt:before {
  content: "\e91d";
}
.back10:before {
  content: "\e91e";
}
.back10Alt:before {
  content: "\e91f";
}
.back15:before {
  content: "\e920";
}
.back15Alt:before {
  content: "\e921";
}
.back20:before {
  content: "\e922";
}
.back20Alt:before {
  content: "\e923";
}
.back25:before {
  content: "\e924";
}
.back25alt:before {
  content: "\e925";
}
.back30:before {
  content: "\e926";
}
.back30Alt:before {
  content: "\e927";
}
.batteryCharge:before {
  content: "\e928";
}
.batteryChargeFill:before {
  content: "\e929";
}
.batteryEmpty:before {
  content: "\e92a";
}
.batteryFull:before {
  content: "\e92b";
}
.batteryWarning:before {
  content: "\e92c";
}
.batteryWarningFill:before {
  content: "\e92d";
}
.bluetooth:before {
  content: "\e92e";
}
.bluetoothConnected:before {
  content: "\e92f";
}
.bluetoothDisabled:before {
  content: "\e930";
}
.bluetoothSearching:before {
  content: "\e931";
}
.bold:before {
  content: "\e932";
}
.bookmarkFill:before {
  content: "\e933";
}
.bookmarkOutline:before {
  content: "\e934";
}
.boxTableBorderBottomEditor:before {
  content: "\e935";
}
.boxTableBorderLeftEditor:before {
  content: "\e936";
}
.boxTableBorderRightEditor:before {
  content: "\e937";
}
.boxTableBorderTopEditor:before {
  content: "\e938";
}
.breakoutRoomConferencePresentationSlide:before {
  content: "\e939";
}
.breakroomCoffeeMachine:before {
  content: "\e93a";
}
.briefcase:before {
  content: "\e93b";
}
.brightness1:before {
  content: "\e93c";
}
.brightness2:before {
  content: "\e93d";
}
.brightness2Fill:before {
  content: "\e93e";
}
.brightness3:before {
  content: "\e93f";
}
.brightness4:before {
  content: "\e940";
}
.brightness5:before {
  content: "\e941";
}
.brightness6:before {
  content: "\e942";
}
.brightness7:before {
  content: "\e943";
}
.brightness8:before {
  content: "\e944";
}
.bug:before {
  content: "\e945";
}
.bugAlt:before {
  content: "\e946";
}
.bullseye:before {
  content: "\e947";
}
.cafeCoffee:before {
  content: "\e948";
}
.cafeCoffeeMugTea:before {
  content: "\e949";
}
.cafeteriaRestaurantSilverwareDiner:before {
  content: "\e94a";
}
.calendarDetail:before {
  content: "\e94b";
}
.calendarSimple:before {
  content: "\e94c";
}
.callRoomPhoneMobileRing:before {
  content: "\e94d";
}
.cameraPhotography:before {
  content: "\e94e";
}
.cancelUnavailable:before {
  content: "\e94f";
}
.carBusCommuteTransport:before {
  content: "\e950";
}
.categories:before {
  content: "\e951";
}
.cellularConnected:before {
  content: "\e952";
}
.cellularConnectedWarning:before {
  content: "\e953";
}
.cellularNull:before {
  content: "\e954";
}
.cellularNullWarning:before {
  content: "\e955";
}
.chartBar:before {
  content: "\e956";
}
.chartLineDownArrow:before {
  content: "\e957";
}
.chartLineUpArrow:before {
  content: "\e958";
}
.chartLineUpBaseArrow:before {
  content: "\e959";
}
.chartPie:before {
  content: "\e95a";
}
.chartStep:before {
  content: "\e95b";
}
.chatGroupMessageBalloon:before {
  content: "\e95c";
}
.chatMessageBalloon:before {
  content: "\e95d";
}
.check:before {
  content: "\e95e";
}
.checkCircle:before {
  content: "\e95f";
}
.checkSmall:before {
  content: "\e960";
}
.checkSquare:before {
  content: "\e961";
}
.chevronDown:before {
  content: "\e962";
}
.chevronDownCircle:before {
  content: "\e963";
}
.chevronLeft:before {
  content: "\e964";
}
.chevronLeftCircle:before {
  content: "\e965";
}
.chevronRight:before {
  content: "\e966";
}
.chevronRightCircle:before {
  content: "\e967";
}
.chevronToggleCollapse:before {
  content: "\e968";
}
.chevronToggleExpand:before {
  content: "\e969";
}
.chevronUp:before {
  content: "\e96a";
}
.chevronUpCircle:before {
  content: "\e96b";
}
.circleEditor:before {
  content: "\e96c";
}
.clean:before {
  content: "\e96d";
}
.clockResetTime:before {
  content: "\e96e";
}
.clockTime:before {
  content: "\e96f";
}
.clockTimerTime:before {
  content: "\e970";
}
.close:before {
  content: "\e971";
}
.closeCircle:before {
  content: "\e972";
}
.closeFill:before {
  content: "\e973";
}
.closeSquare:before {
  content: "\e974";
}
.cloud-Upload:before {
  content: "\e975";
}
.cloud:before {
  content: "\e976";
}
.cloudDownload:before {
  content: "\e977";
}
.cloudOff:before {
  content: "\e978";
}
.cloudSafe:before {
  content: "\e979";
}
.cloudSuccess:before {
  content: "\e97a";
}
.code:before {
  content: "\e97b";
}
.cogGearSettings:before {
  content: "\e97c";
}
.color:before {
  content: "\e97d";
}
.columnEditor:before {
  content: "\e97e";
}
.conferenceRoomMeetingGroupPeople:before {
  content: "\e97f";
}
.control3:before {
  content: "\e980";
}
.control4:before {
  content: "\e981";
}
.copy:before {
  content: "\e982";
}
.copyAlt:before {
  content: "\e983";
}
.copyPaper:before {
  content: "\e984";
}
.dangerWarning:before {
  content: "\e985";
}
.dashboard:before {
  content: "\e986";
}
.dashboardAdd:before {
  content: "\e987";
}
.dashboardAlt:before {
  content: "\e988";
}
.departingArrow:before {
  content: "\e989";
}
.deskNeighborhoodOccupied:before {
  content: "\e98a";
}
.deskNeighborhoodOpen:before {
  content: "\e98b";
}
.deviceEntrySideIsometricAngle:before {
  content: "\e98c";
}
.deviceEntryTopFront:before {
  content: "\e98d";
}
.dialpad:before {
  content: "\e98e";
}
.doorEntry:before {
  content: "\e98f";
}
.dotBullet:before {
  content: "\e990";
}
.doubleChevronDown:before {
  content: "\e991";
}
.doubleChevronUp:before {
  content: "\e992";
}
.downloadArrow:before {
  content: "\e993";
}
.dragHorizontal:before {
  content: "\e994";
}
.dragVertical:before {
  content: "\e995";
}
.drawFreehand:before {
  content: "\e996";
}
.ebookBookmarkReadComputerLaptop:before {
  content: "\e997";
}
.egressDownArrow:before {
  content: "\e998";
}
.egressLeftArrow:before {
  content: "\e999";
}
.eraseDelete:before {
  content: "\e99a";
}
.eventCalendarCheck:before {
  content: "\e99b";
}
.eyedropper:before {
  content: "\e99c";
}
.faceHappy:before {
  content: "\e99d";
}
.faceModerate:before {
  content: "\e99e";
}
.faceSad:before {
  content: "\e99f";
}
.filter:before {
  content: "\e9a0";
}
.flag:before {
  content: "\e9a1";
}
.flagFill:before {
  content: "\e9a2";
}
.folder:before {
  content: "\e9a3";
}
.folderClose:before {
  content: "\e9a4";
}
.folderNew:before {
  content: "\e9a5";
}
.folderOpen:before {
  content: "\e9a6";
}
.folderShared:before {
  content: "\e9a7";
}
.forward1:before {
  content: "\e9a8";
}
.forward1Alt:before {
  content: "\e9a9";
}
.forward5:before {
  content: "\e9aa";
}
.forward5Alt:before {
  content: "\e9ab";
}
.forward10:before {
  content: "\e9ac";
}
.forward10Alt:before {
  content: "\e9ad";
}
.forward15:before {
  content: "\e9ae";
}
.forward15Alt:before {
  content: "\e9af";
}
.forward20:before {
  content: "\e9b0";
}
.forward20Alt:before {
  content: "\e9b1";
}
.forward25:before {
  content: "\e9b2";
}
.forward25Alt:before {
  content: "\e9b3";
}
.forward30:before {
  content: "\e9b4";
}
.forward30Alt:before {
  content: "\e9b5";
}
.globeWorldEarthMap:before {
  content: "\e9b6";
}
.gymWeight:before {
  content: "\e9b7";
}
.headset:before {
  content: "\e9b8";
}
.headsetMic:before {
  content: "\e9b9";
}
.heartBeatHealth:before {
  content: "\e9ba";
}
.heartLove:before {
  content: "\e9bb";
}
.helpQuestionMark:before {
  content: "\e9bc";
}
.hotelBed:before {
  content: "\e9bd";
}
.hourglass:before {
  content: "\e9be";
}
.hourglassAlt:before {
  content: "\e9bf";
}
.image:before {
  content: "\e9c0";
}
.imageAdd:before {
  content: "\e9c1";
}
.imageAddAlt:before {
  content: "\e9c2";
}
.imageAlt:before {
  content: "\e9c3";
}
.imageUpload:before {
  content: "\e9c4";
}
.imageUploadAlt:before {
  content: "\e9c5";
}
.impersonateOffOutlineSecurityShieldSafe:before {
  content: "\e9c6";
}
.impersonateOnFillSecurityShieldSafe:before {
  content: "\e9c7";
}
.information:before {
  content: "\e9c8";
}
.ingressRightArrow:before {
  content: "\e9c9";
}
.ingressUpArrow:before {
  content: "\e9ca";
}
.integrations:before {
  content: "\e9cb";
}
.integrationsAngleInclined:before {
  content: "\e9cc";
}
.italics:before {
  content: "\e9cd";
}
.keyboard:before {
  content: "\e9ce";
}
.keyhole:before {
  content: "\e9cf";
}
.kitchenChefCook:before {
  content: "\e9d0";
}
.lab:before {
  content: "\e9d1";
}
.label:before {
  content: "\e9d2";
}
.labelFill:before {
  content: "\e9d3";
}
.labelImportant:before {
  content: "\e9d4";
}
.labelImportantFill:before {
  content: "\e9d5";
}
.laptopComputerPc:before {
  content: "\e9d6";
}
.lightbulbIdea:before {
  content: "\e9d7";
}
.lightningFill:before {
  content: "\e9d8";
}
.lightningOutline:before {
  content: "\e9d9";
}
.linkBrokenChain:before {
  content: "\e9da";
}
.linkChain:before {
  content: "\e9db";
}
.list:before {
  content: "\e9dc";
}
.listening:before {
  content: "\e9dd";
}
.listTable:before {
  content: "\e9de";
}
.loading:before {
  content: "\e9df";
}
.lobbyFrontDesk:before {
  content: "\e9e0";
}
.localBarGlassCupMartini:before {
  content: "\e9e1";
}
.locationPin:before {
  content: "\e9e2";
}
.locationPinAdd:before {
  content: "\e9e3";
}
.locationPinDelete:before {
  content: "\e9e4";
}
.lockClosed:before {
  content: "\e9e5";
}
.lockOpen:before {
  content: "\e9e6";
}
.logoContainerFill:before {
  content: "\e9e7";
}
.logoContainerOutline:before {
  content: "\e9e8";
}
.logoutPowerOnOff:before {
  content: "\e9e9";
}
.loungeSofaCouch:before {
  content: "\e9ea";
}
.lSubDependencyUnder:before {
  content: "\e9eb";
}
.map:before {
  content: "\e9ec";
}
.meetingArrow:before {
  content: "\e9ed";
}
.messageMailInboxEnvelope:before {
  content: "\e9ee";
}
.microphoneOff:before {
  content: "\e9ef";
}
.microphoneOn:before {
  content: "\e9f0";
}
.minus:before {
  content: "\e9f1";
}
.minusCircle:before {
  content: "\e9f2";
}
.minusSmallHyphenIndeterminate:before {
  content: "\e9f3";
}
.moneyCoinDollar:before {
  content: "\e9f4";
}
.monitorComputer:before {
  content: "\e9f5";
}
.moreMenuHorizontal:before {
  content: "\e9f6";
}
.moreMenuVertical:before {
  content: "\e9f7";
}
.mouse:before {
  content: "\e9f8";
}
.moveArrow:before {
  content: "\e9f9";
}
.notification:before {
  content: "\e9fa";
}
.notificationsMultiple:before {
  content: "\e9fb";
}
.onePagerPaperDoc:before {
  content: "\e9fc";
}
.openExternalArrow:before {
  content: "\e9fd";
}
.paintbrush:before {
  content: "\e9fe";
}
.pan:before {
  content: "\e9ff";
}
.paperclip:before {
  content: "\ea00";
}
.papersDocs:before {
  content: "\ea01";
}
.parking:before {
  content: "\ea02";
}
.pencilEditor:before {
  content: "\ea03";
}
.pencilOutlineEditor:before {
  content: "\ea04";
}
.percent:before {
  content: "\ea05";
}
.personFull:before {
  content: "\ea06";
}
.personFullAlt:before {
  content: "\ea07";
}
.personUser:before {
  content: "\ea08";
}
.personUserCost:before {
  content: "\ea09";
}
.personUserHuddleGroupPeople:before {
  content: "\ea0a";
}
.personUserMinusRemove:before {
  content: "\ea0b";
}
.personUserPlusAdd:before {
  content: "\ea0c";
}
.personUserProfile:before {
  content: "\ea0d";
}
.personUserRemove:before {
  content: "\ea0e";
}
.personWheelchair:before {
  content: "\ea0f";
}
.phoneMobile:before {
  content: "\ea10";
}
.planeTravelTransport:before {
  content: "\ea11";
}
.playbackNext:before {
  content: "\ea12";
}
.playbackPause:before {
  content: "\ea13";
}
.playbackPlay:before {
  content: "\ea14";
}
.playbackPrev:before {
  content: "\ea15";
}
.plus:before {
  content: "\ea16";
}
.plusCircle:before {
  content: "\ea17";
}
.plusLarge:before {
  content: "\ea18";
}
.plusOne:before {
  content: "\ea19";
}
.poundSignHashtag:before {
  content: "\ea1a";
}
.radioActive:before {
  content: "\ea1b";
}
.radioInactive:before {
  content: "\ea1c";
}
.refreshArrowSync:before {
  content: "\ea1d";
}
.report:before {
  content: "\ea1e";
}
.reportAdd:before {
  content: "\ea1f";
}
.reportShare:before {
  content: "\ea20";
}
.resetArrow:before {
  content: "\ea21";
}
.restroomMenBathroomPersonPeople:before {
  content: "\ea22";
}
.restroomUnisexBathroomPersonPeople:before {
  content: "\ea23";
}
.restroomWomenBathroomPersonPeople:before {
  content: "\ea24";
}
.rotate3d:before {
  content: "\ea25";
}
.rotateArrow:before {
  content: "\ea26";
}
.router:before {
  content: "\ea27";
}
.ruler:before {
  content: "\ea28";
}
.saveFill:before {
  content: "\ea29";
}
.saveOutline:before {
  content: "\ea2a";
}
.scissorsCut:before {
  content: "\ea2b";
}
.searchMagnifier:before {
  content: "\ea2c";
}
.securityCheckShieldSafe:before {
  content: "\ea2d";
}
.securityPersonShieldSafe:before {
  content: "\ea2e";
}
.sendPaperPlane:before {
  content: "\ea2f";
}
.shareAndroid:before {
  content: "\ea30";
}
.shareArrowOutbox:before {
  content: "\ea31";
}
.shoppingCart:before {
  content: "\ea32";
}
.shoppingCartAlt:before {
  content: "\ea33";
}
.sortArrowRightLeftSwapMini:before {
  content: "\ea34";
}
.sortArrowUpDownSwapMini:before {
  content: "\ea35";
}
.soundOffSpeaker:before {
  content: "\ea36";
}
.soundOnSpeakerVolume:before {
  content: "\ea37";
}
.space:before {
  content: "\ea38";
}
.spaceAdd:before {
  content: "\ea39";
}
.spaceTypeBuilding:before {
  content: "\ea3a";
}
.spaceTypeCampus:before {
  content: "\ea3b";
}
.spaceTypeEntry:before {
  content: "\ea3c";
}
.spaceTypeFloor:before {
  content: "\ea3d";
}
.spaceTypeSpace:before {
  content: "\ea3e";
}
.squaresEditor:before {
  content: "\ea3f";
}
.stairs:before {
  content: "\ea40";
}
.stairsDown:before {
  content: "\ea41";
}
.stairsUp:before {
  content: "\ea42";
}
.starFillFavorite:before {
  content: "\ea43";
}
.starOutlineFavorite:before {
  content: "\ea44";
}
.studyBook:before {
  content: "\ea45";
}
.swapHorizontalArrow:before {
  content: "\ea46";
}
.swapSortVerticalArrow:before {
  content: "\ea47";
}
.swapSortVerticalArrowUp:before {
  content: "\ea48";
}
.swapVerticalArrow:before {
  content: "\ea49";
}
.table:before {
  content: "\ea4a";
}
.tabletIpad:before {
  content: "\ea4b";
}
.tagSale:before {
  content: "\ea4c";
}
.tagSaleFill:before {
  content: "\ea4d";
}
.task:before {
  content: "\ea4e";
}
.taskComplete:before {
  content: "\ea4f";
}
.taskLate:before {
  content: "\ea50";
}
.televisionTvDisplay:before {
  content: "\ea51";
}
.text:before {
  content: "\ea52";
}
.textColor:before {
  content: "\ea53";
}
.theaterCurtain:before {
  content: "\ea54";
}
.thermometerTemperatureThermostat:before {
  content: "\ea55";
}
.thumbsDown:before {
  content: "\ea56";
}
.thumbsUp:before {
  content: "\ea57";
}
.timelapse1:before {
  content: "\ea58";
}
.timelapse2:before {
  content: "\ea59";
}
.timelapse3:before {
  content: "\ea5a";
}
.timelapse4:before {
  content: "\ea5b";
}
.timelapse5:before {
  content: "\ea5c";
}
.toggleOff:before {
  content: "\ea5d";
}
.toggleOn:before {
  content: "\ea5e";
}
.trash:before {
  content: "\ea5f";
}
.trayMenuBurger:before {
  content: "\ea60";
}
.tune:before {
  content: "\ea61";
}
.university-graduation-capHigherEducationStudyTraining:before {
  content: "\ea62";
}
.uploadArrow:before {
  content: "\ea63";
}
.utilityRoomDoor:before {
  content: "\ea64";
}
.vacation:before {
  content: "\ea65";
}
.videoCamera:before {
  content: "\ea66";
}
.visibilityHideEye:before {
  content: "\ea67";
}
.visibilityShowEye:before {
  content: "\ea68";
}
.watch:before {
  content: "\ea69";
}
.widgets:before {
  content: "\ea6a";
}
.wifi-nNoInternet:before {
  content: "\ea6b";
}
.wifiConnected:before {
  content: "\ea6c";
}
.wifiNoInternetFill:before {
  content: "\ea6d";
}
.wifiNull:before {
  content: "\ea6e";
}
.workflow:before {
  content: "\ea6f";
}
.wrench:before {
  content: "\ea70";
}
.zoomIn:before {
  content: "\ea71";
}
.zoomOut:before {
  content: "\ea72";
}
.zoomToFit:before {
  content: "\ea73";
}
