// Colors
// -------------------------------

// Whitescale
$white:                 #fff;
$whiteTransparent80: rgba($white, 0.8);
$whiteTransparent40: rgba($white, 0.4);
$whiteTransparent20: rgba($white, 0.2);
$whiteTransparent10: rgba($white, 0.1);
$whiteTransparent05: rgba($white, 0.05);

// Grayscale
$gray000:               #FAFBFC;
$gray100:               #F6F8FA;
$gray200:               #E1E4E8;
$gray300:               #D1D5DA;
$gray400:               #959DA5;
$gray500:               #6A737D;
$gray600:               #586069;
$gray700:               #444D56;
$gray800:               #2F363D;
$gray900:               #24292E;

// Midnightscale
$midnight:              #0D183A;
$midnightTransparent80: rgba($midnight, 0.8);
$midnightTransparent40: rgba($midnight, 0.4);
$midnightTransparent20: rgba($midnight, 0.2);
$midnightTransparent10: rgba($midnight, 0.1);
$midnightTransparent05: rgba($midnight, 0.05);
$midnightOpaque80:      #3F465F;
$midnightOpaque40:      #9FA3AF;
$midnightOpaque20:      #CFD1D7;
$midnightOpaque10:      #E6E7EB;
$midnightOpaque05:      #F3F3F5;

// Bluescale
$blue000:               #F1F6FF;
$blue100:               #DAE6FF;
$blue200:               #A6C3FF;
$blue300:               #6A9BFC;
$blue400:               #1A79FF;
$blue500:               #003FBC;
$blue600:               #02198C;
$blue700:               #001169;
$blue800:               #000b3f;
$blue900:               #000624;
$blue:                  $blue400;
$blueLight:             $blue100;
$blueDark:              $blue700;

// Redscale
$red000:                #FFEFEC;
$red100:                #FFDFD9;
$red200:                #FFBCB2;
$red300:                #FF8678;
$red400:                #FF5548;
$red500:                #CC3931;
$red600:                #8A2320;
$red700:                #401010;
$red800:                #300a0a;
$red900:                #240404;
$red:                   $red400;
$redLight:              $red100;
$redDark:               $red700;

// Greenscale
$green000:              #EEFCF4;
$green100:              #D6FCE6;
$green200:              #ACF0C8;
$green300:              #70D79B;
$green400:              #00BC8A;
$green500:              #139768;
$green600:              #0D6248;
$green700:              #083421;
$green800:              #042718;
$green900:              #031d11;
$green:                 $green400;
$greenLight:            $green100;
$greenDark:             $green700;

// Purplescale
$teal000:               #F4FFFF;
$teal100:               #D9FFFF;
$teal200:               #9DEFEF;
$teal300:               #56D9D5;
$teal400:               #25BBB2;
$teal500:               #129C9C;
$teal600:               #096D72;
$teal700:               #053A40;
$teal800:               #03282c;
$teal900:               #01181b;
$teal:                  $teal400;
$tealLight:             $teal100;
$tealDark:              $teal700;

// Yellowscale
$yellow000:             #FEFCF4;
$yellow100:             #FEF6D8;
$yellow200:             #FFE9A7;
$yellow300:             #FFD25F;
$yellow400:             #F3B828;
$yellow500:             #C49012;
$yellow600:             #866109;
$yellow700:             #402E05;
$yellow800:             #302203;
$yellow900:             #1f1601;
$yellow:                $yellow400;
$yellowLight:           $yellow100;
$yellowDark:            $yellow700;

// Purplescale
$purple000:             #F8F4FF;
$purple100:             #E7D9FF;
$purple200:             #D1AFFF;
$purple300:             #B06BFF;
$purple400:             #9933FF;
$purple500:             #7525CC;
$purple600:             #4F1C8A;
$purple700:             #251040;
$purple800:             #18082e;
$purple900:             #0f031f;
$purple:                $purple400;
$purpleLight:           $purple100;
$purpleDark:            $purple700;


// Component color variables
$fontColor:             $gray800;



// LEGACY COLORS
$grayCinder: #222A2E;
$grayDarkest: #445158;
$grayDarker: #8E9299;
$grayDark: #B4B8BF;
$gray: #CBCFD6;
$grayLight: #E8E8ED;
$grayLighter: #F0F0F2;
$grayLightest: #FAFAFA;
$brandPrimary: #2C4EB9;
$brandPrimaryNew: #2C4EB9;
$brandPrimaryLight: #B6C6F6;
$brandSuccess: #80CD80;
$brandDanger: #FF7A68;
$brandWarning: #FFBA08;
$brandMuted: $grayDarkest;
$textColorBase: $grayDarkest;
$textColorLight: #8E9299;
$textColor: $textColorLight;
$headerColor: #4E5457;
$inputFieldTextColor: #CBCFD6;
$inputFieldTextActiveColor: #4E5457;
$inputFieldPlaceholderColor: #9B9B9B;
$inputFieldBorderColor: $grayDark;
$reportBlueLight: #97A6D4;
$reportGreen: #4E8475;
$reportYellow: #F9B35B;
$reportOrange: #F26B40;
$reportRed: #FF7B6C;
